@mixin row-flex($just-content, $align-items) {
  display: flex;
  justify-content: $just-content;
  align-items: $align-items;
  flex-direction: row;
}

@mixin column-flex($just-content, $align-items) {
  display: flex;
  justify-content: $just-content;
  align-items: $align-items;
  flex-direction: column;
}
