.search-bar {
  &-wrapper {
    position: relative;
    float: left;
    .zoom {
      position: absolute;
      right: 5px;
      bottom: 5px;
      width: 30px;
      line-height: 30px;
      border-radius: 15px;
      text-align: center;
      &.focused {
        background: #777;
        color: #fff;
      }
    }
  }

  &-info {
    position: absolute;
    left: 0;
    top: 56px;
    width: 240px;
    padding: 0 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background: #fff;

    &-title {
      margin-top: 20px;
      margin-bottom: 15px;
      line-height: 20px;
      font-size: 14px;
      color: #969696;
    }

    &-switch {
      float: right;
      font-size: 13px;
      cursor: pointer;
      .spin {
        display: block;
        float: left;
        font-size: 12px;
        margin-right: 2px;
        transition: all 0.2s ease-in;
        transform-origin: center center;
      }
    }

    &-list {
      overflow: hidden;
    }

    &-item {
      display: block;
      float: left;
      line-height: 20px;
      padding: 0 5px;
      margin-right: 10px;
      margin-bottom: 15px;
      font-size: 12px;
      border: 1px solid #ddd;
      color: #787878;
      border-radius: 3px;
    }
  }
}
