.article {
  // background-color: #f9f9f9;
  &-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 66px);
    padding-top: 10px;
    font-size: 16px;
  }

  &-content {
    margin-right: 12px;
    padding: 32px;
    flex: 2;
    background-color: #fff;

    & > .title {
      font-size: 30px;
      font-weight: 700;
      word-break: break-word;
      margin-top: 32px;
      color: #404040;
      text-rendering: optimizelegibility;
      margin-bottom: 0.5em;
    }

    & > .user-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 32px;
      font-size: 13px;

      & > .avatar {
        display: block;
        border-radius: 50%;
        border: 1px solid #eee;
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
      }

      & > .info {
        margin-left: 8px;

        & > .base {
          display: flex;
          align-items: center;
          margin-bottom: 6px;

          & > .nickname {
            font-size: 16px;
            font-weight: 500;
            margin-right: 8px;
          }

          & > .subscribe {
            position: relative;
            flex-shrink: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            white-space: nowrap;
            user-select: none;
            user-select: none;
            transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            font-size: 14px;
            color: #969696;
            background-color: #fff;
            border: 1px solid #999;
            padding: 2px 9px;

            &:hover {
              color: #ec7259;
              background-color: #fff;
              border-color: #ec7259;
            }
          }
        }

        .more {
          display: flex;
          color: #969696;
        }
      }
    }

    & > .content {
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 20px;
      word-break: break-word;
      position: relative;
    }
  }

  &-aside {
    flex: 1;

    & > section {
      padding: 16px;
    }

    .hot-article {
      background-color: #fff;

      & > .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        padding-left: 12px;
        border-left: 4px solid #ec7259;
        font-size: 18px;
        font-weight: 500;
        height: 20px;
        line-height: 20px;
      }

      & > .list-item {
        margin-bottom: 12px;
        cursor: pointer;
      }
    }

    .author-article {
      background-color: #fff;
      border-radius: 4px;
      margin-bottom: 10px;
      position: relative;

      .author-info {
        display: flex;
        align-items: center;

        & > .avatar {
          display: block;
          border-radius: 50%;
          border: 1px solid #eee;
          min-width: 50px;
          min-height: 50px;
          width: 50px;
          height: 50px;
        }

        & > .info {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          flex-grow: 1;
          overflow: hidden;
          min-height: 45px;
          margin-left: 8px;

          & > .name {
            align-items: center;
            margin-bottom: 4px;
          }

          & > .asset {
            color: #969696;
            font-size: 12px;
          }
        }
      }

      .list-divider {
        width: 100%;
        height: 1px;
        margin: 16px 0;
        background-color: #eee;
      }

      .article-list {
        & > .list-item {
          margin-top: 16px;
          cursor: pointer;

          & > .title {
            font-size: 14px;
            line-height: 22px;
            color: #2d2d2d;
            margin-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          & > .view-count {
            font-size: 12px;
            color: #969696;
          }
        }
      }
    }
  }
}
